{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : liste utilisateurs{% endblock %}

{% block body %}

<div class="uk-card uk-card-body uk-card-default uk-text-center uk-padding uk-width-1-1 colorer">
    <h2>Nos utilisateurs</h2>
</div>

{% if utilisateurs is defined %}

<div class="uk-grid-collapse" uk-grid>

    {% for ut in utilisateurs %}

    <div class="uk-card uk-card-default uk-card-body uk-text-center uk-width-1-2@m">

        {% if ut.siret is defined %}

        <h4>Société {{ ut.raisonsociale }}</h4>

        {% else %}

        <h4> {{ ut.prenom }} {{ ut.nom }} </h4>

        {% endif %}

        {% if ut.locations is defined %}

            {% if ut.locations | length > 0 %}

                {% for location in ut.locations %}

                <p> {{ "Location N° " ~ location.id }} {{'du ' ~ location.debut | date('d-m-Y') ~ ' au ' ~ location.fin | date('d-m-Y') ~ " " }} </p>
                <p> Véhicule : {{ ' ' ~ location.voiture.marque ~" "~ location.voiture.modele }} </p>

                {% endfor %}

            {% else %}

            <p>Cet utilisateur n'a pas encore loué de voiture chez <strong>Locauto</strong>.</p>

            {% endif %}

        {% endif %}

    </div>

    {% endfor %}

</div>

{% endif %}

{% endblock %}



