{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} : modifier profil{% endblock %}

{% block body %}

<div class="uk-card uk-card-default uk-card-body uk-width-1-3">

        {{ form_start(registrationForm) }}

        <legend class="legend">Modifier mon profil</legend>
        
        <div class="uk-input uk-margin">
            {# {{ form_label(registrationForm.email, "Courriel") }} #}
            {{ form_widget(registrationForm.email) }}
        </div>
        <div class="uk-margin">
            {# {{ form_label(registrationForm.prenom, "Prénom") }} #}
            {{ form_widget(registrationForm.prenom) }}
        </div>
        <div class="uk-margin">
            {# {{ form_label(registrationForm.nom, "Nom") }} #}
            {{ form_widget(registrationForm.nom) }}
        </div>
        <div class="uk-margin">
            {# {{ form_label(registrationForm.username, "Pseudonyme") }} #}
            {{ form_widget(registrationForm.username) }}
        </div>

        <button class="uk-button uk-button-default">Enregistrement</button>

        {{ form_end(registrationForm) }}

</div>

<div class="uk-card uk-card-default uk-card-body uk-width-1-3">

    {{ form_start(registrationForm) }}

        <legend class="legend">Modifier mon profil</legend>

        <div class="uk-margin">
            <input type="email" value="{{ form_widget(registrationForm.email) }}" class="uk-input" name="email" placeholder="{{ app.user.email }}">
        </div>
        <div class="uk-margin">
            <input value="{{ form_row(registrationForm.prenom) }}" class="uk-input" name="prenom" placeholder="{{ app.user.prenom }}">
        </div>
        <div class="uk-margin">
            <input value="{{ form_row(registrationForm.nom) }}" class="uk-input" name="nom" placeholder="{{ app.user.nom }}">
        </div>
        <div class="uk-margin">
            <input value="{{ form_widget(registrationForm.username) }}" class="uk-input" name="username" placeholder="{{ app.user.username }}">
        </div>

        <button class="uk-button uk-button-default">Enregistrement</button>

    {{ form_end(registrationForm) }}

</div>

{% endblock %}



