{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} : inscription{% endblock %}

{% block body %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-3 centrer">


        {{ form_start(registrationForm, { 'attr' : { 'class' : 'uk-form-horizontal'}}) }}

            <h2 class="legend">Inscription</h2>

            <div class="uk-margin">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="uk-margin">
                {{ form_row(registrationForm.prenom) }}
            </div>
            <div class="uk-margin">
                {{ form_row(registrationForm.nom) }}
            </div>
            <div class="uk-margin">
                {{ form_row(registrationForm.username) }}
            </div>
            <div class="uk-margin">
                {{ form_row(registrationForm.password.first) }}
            </div>
            <div class="uk-margin">
                {{ form_row(registrationForm.password.second) }}
            </div>

        <button class="uk-button uk-button-default">Enregistrement</button>

        {{ form_end(registrationForm) }}

</div>
{% endblock %}



