{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : enr/modif voiture{% endblock %}

{% block body %}

<div class="uk-card uk-card-default uk-card-body uk-margin-top uk-width-2-3 centrer">
    {{ form_start(form) }}

            <h3>
            {% if voiture is defined %}
                Modification de la fiche
            {% else %}
                Enregistrement d'une voiture
            {% endif %}
            </h3>

            <div class="uk-margin">
                {{ form_row(form.agence) }}
            </div>
            <div class="uk-margin">
                {{ form_row(form.marque) }}
            </div>
            <div class="uk-margin"> 
                {{ form_row(form.modele) }}
            </div>
            <div class="uk-margin">
                {{ form_row(form.categories) }}
            </div>
            <div class="uk-margin">
                {{ form_row(form.reference) }}
            </div>
            <div class="uk-margin">
                {{ form_row(form.tarif) }}
            </div>
            
            <ul id="images" data-prototype="{{ form_row(form.images.vars.prototype)|e('html_attr') }}">
        
                {% for im in form.images %}
                    <li>
                        {{ form_row(im) }}
                    </li>
                {% endfor %}

            </ul>

            <button class="uk-button uk-button-default">Enregistrement</button>

    {{ form_end(form) }}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script src="/js/VoitureHandlerImages.js"></script>
    
{% endblock %}

