{% extends 'base.html.twig' %}


{% block title %}Enregistrer voiture{% endblock %}

{% block body %}
    
{{ form_start(form) }}
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Enregistrement d'une voiture</legend>

         <div class="uk-input">
            {{ form_row(form.agence) }} {# Relation dans l'entité → champ de saisie avec flèche #}
        </div>
        <div class="uk-input">
            {{ form_row(form.marque) }} {# Relation dans l'entité → champ de saisie avec flèche #}
        </div>
        <div class="uk-input">
            {{ form_row(form.modele) }}
        </div>
       
        <button class="">Enregistrement</button>
    </fieldset>
{{ form_end(form) }}

{% endblock %}

