{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : enregistrer voiture{% endblock %}

{% block body %}
{{ parent() }}
    
{{ form_start(form) }}
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Enregistrement d'une voiture</legend>

         <div class="uk-input">
            {{ form_row(form.agence) }} 
            {{ form_row(form.marque) }} 
            {{ form_row(form.modele) }}
            {{ form_row(form.categories) }}
            {{ form_row(form.reference) }}
            {{ form_row(form.tarif) }}
            <button class="uk-button uk-button-primary">Enregistrement</button>
        </div>
    </fieldset>
{{ form_end(form) }}

{% endblock %}

