{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : enr/modif voiture{% endblock %}

{% block body %}
{{ parent() }}
    
{{ form_start(form) }}
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">
        {% if voiture is defined %}
            Modification de la fiche
        {% else %}
            Enregistrement d'une voiture
        {% endif %}
        </legend>

         <div class="uk-input">
            {{ form_row(form.agence) }} 
            {{ form_row(form.marque) }} 
            {{ form_row(form.modele) }}
            {{ form_row(form.categories) }}
            {{ form_row(form.reference) }}
            {{ form_row(form.tarif) }}
            <ul id="images" data-prototype="{{ form_row(form.images.vars.prototype)|e('html_attr') }}">
        
                {% for im in form.images %}
                    <li>
                        {{ form_row(im) }}
                    </li>
                {% endfor %}

            </ul>

            <button class="uk-button uk-button-primary">Enregistrement</button>
        </div>
    </fieldset>
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script src="/js/VoitureHandlerImages.js"></script>
    
{% endblock %}

