{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : liste voitures{% endblock %}

{% block body %}

<div class="uk-child-width-expand@m uk-text-center" uk-grid>
    <div>
        <h1>Nos voitures</h1>
    </div>
</div>

<section uk-grid>

        {% for voiture in voitures %}
            <div class="uk-width-1-3">
                <div>{{ voiture.marque|e }} {{ voiture.modele|e }}</div>
                {% if is_granted ("ROLE_ADMIN") %}
                <div><a class="uk-button uk-button-danger" href="{{ path ("supprimer_voiture",{'slug':voiture.slug}) }}" onclick="return confirm('Supprimer ?')">Supprimer</a></div>
                {% endif %}
                <div><a class="uk-button uk-button-primary" href="{{ path ("voir_voiture",{'slug':voiture.slug}) }}">Voir cette voiture</a></div>
            </div>
        {% endfor %}

</section>
{% endblock %}



