{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : liste voitures{% endblock %}

{% block body %}
{{ parent() }}
<h1>Nos voitures</h1>
<section>
    {% for voiture in voitures %}
        <div>{{ voiture.marque|e }} {{ voiture.modele|e }}</div>
        {% if is_granted ("ROLE_ADMIN") %}
        {# <div><a class="" href="{{ path ("modif_marque",{'id':marque.id}) }}">Modifier</a></div> #}
        <div><a class="uk-button uk-button-danger" href="{{ path ("supprimer_voiture",{'id':voiture.id}) }}" onclick="return confirm('Supprimer ?')">Supprimer</a></div>
        {% endif %}
        <div><a class="" href="{{ path ("voir_voiture",{'id':voiture.id}) }}">Voir cette voiture</a></div>
    {% endfor %}
</section>
{% endblock %}



