{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : liste voitures{% endblock %}

{% block body %}

{% if form is defined %}

<div class="uk-card uk-card-default uk-card-body uk-width-1-3">

        <h3 class="legend">Recherche avancée</h3>

        {{ form_start(form, { 'attr' : { 'class' : 'uk-form-horizontal'}}) }}
            
            <div class="uk-margin">
                {{ form_label(form.marque, "Marque") }}
                {{ form_widget(form.marque) }}
            </div>
            <div class="uk-margin">
                {{ form_label(form.categorie, "Catégorie") }}
                {{ form_widget(form.categorie) }}
            </div>
            <div class="uk-margin">
                {{ form_label(form.agence, "Agence") }}
                {{ form_widget(form.agence) }}
            </div>
            <div class="uk-margin">
                {{ form_label(form.minTarif, "Tarif maximum") }}
                {{ form_widget(form.minTarif) }}
            </div>
            <div class="uk-margin">
                {{ form_label(form.maxTarif, "Tarif minimum") }}
                {{ form_widget(form.maxTarif) }}
            </div>

            <div>
                <button class="uk-button uk-button-default">Rechercher</button>
            </div>

        {{ form_end(form) }}

</div>

{% endif %}
{% if voitures is defined %}
<section class="uk-grid-large uk-child-width-1-3@m uk-text-center" uk-grid>

    {% for voiture in voitures %}
    <div class="uk-card uk-card-secondary uk-card-body">
        <div>

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: fade">

            <ul class="uk-slideshow-items">
                {% for im in voiture.images %}
                <li>
                    <img src="{{ im.url }}" alt="Ici devrait se trouver une photo." uk-cover>
                </li>
                {% endfor %}
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

        </div>

    </div>
        {# <img data-src="{{ voiture.images | first }}" width="360" height="240" alt="Photo" uk-img> #}
        <div class="uk-card-title">{{ voiture.marque|e }} {{ voiture.modele|e }}</div>
        {# {% if is_granted ("ROLE_ADMIN") %}
        <div><a class="uk-button uk-button-danger" href="{{ path ("supprimer_voiture",{'slug':voiture.slug}) }}" onclick="return confirm('Supprimer ?')">Supprimer</a></div>
        {% endif %} #}
        <div><a class="uk-button" href="{{ path ("voir_voiture",{'slug':voiture.slug}) }}">Voir cette voiture</a></div>
    </div>
    {% endfor %}

</section>
{% endif %}
{% endblock %}



