{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : voiture{% endblock %}

{% block body %}
<div class="uk-card uk-card-default uk-card-body uk-text-center uk-width-1-2 centrer">

     <h3 class="uk-card-title">{{ voiture.marque ~ " " ~ voiture.modele }}</h3>
     
     <p>Catégorie(s) : {% for cat in voiture.categories %} {{ cat }}{% endfor %}</p>
     
               <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: fade">
                    <ul class="uk-slideshow-items">
                    {% for im in voiture.images %}
                         <li>
                              <img src="{{ im.url }}" alt="Ici devrait se trouver une photo." uk-cover>
                         </li>
                    {% endfor %}
                    </ul>
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
               </div>

     <p>Disponible dans notre agence de {{ voiture.agence }}</p>
     <p>Tarif : {{ voiture.tarif }} € par jour</p>
     <p>Référence :  {{ voiture.reference }}</p>

     {% if is_granted ("ROLE_ADMIN") %}
     <div>
          <a class="uk-button uk-button-success" href="{{path ("modif_voiture",{'slug':voiture.slug})}}">Modifier</a>
     </div>
     {% endif %}


     <div>
          <a class="uk-button uk-button-success" href="{{path ("louer_voiture",{'slug':voiture.slug})}}">Louer ce véhicule</a>
     </div>
    

</div>
<div class="uk-card uk-card-default uk-card-body uk-text-center uk-width-1-2 centrer">
     <div>
          {% if form is not null %}
               {{ form_start(form) }}
                    <div class="uk-margin">
                    {{ form_row(form.note) }}
                    </div>
                    <div class="uk-margin">
                    {{ form_row(form.contenu) }}
                    </div>
                    <div class="uk-margin">
                         <button type="submit" class="uk-button uk-button-default">Enregistrer le commentaire</button>
                    </div>
               {{ form_end(form) }}
          {% else %}
               <p>Vous devez être connecté pour commenter. <a href="{{ path('login')}}">Connectez-vous !</a></p>
          {% endif %}
     </div>
     <div>
          {% for commentaire in voiture.commentaires %}
               <p>{{ commentaire.auteur.username }}, le {{ commentaire.createdAt|date("d/m/Y")}} - {{ commentaire.contenu }}</p>
          {% else %}
               <p>Aucun commentaire actuellement</p>
          {% endfor %}
     </div>
</div>

{% endblock %}


