{% extends 'base.html.twig' %}

{% block navigation %}
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-parent"><a href="{{path ("deconnexion")}}">Deconnexion</a></li>
            <li class="uk-parent"><a href="{{path ("modifier_mdp")}}">Modifier mdp</a></li>  {# à mettre ailleurs #}
            <li><a href="{{path ("enregistrer_agence")}}">Ajouter une agence</a></li>
            <li><a href="{{path ("enregistrer_voiture")}}">Enregistrer une voiture</a></li>
            <li><a href="{{path ("enregistrer_marque")}}">Enregistrer une marque</a></li>
        </ul>
    </div>
</nav>
{% endblock %}





