{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : enregistrer image{% endblock %}

{% block body %}
    
{{ form_start(form) }}
<div class="formulaire">
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Enregistrement d'une image</legend>

        <div class="uk-input">
            {{ form_row(form.url) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.legende) }}
            {# {{ form_row(form.alaune) }} #}
            <button class="uk-button uk-button-primary">Enregistrement</button>
        </div>

    </fieldset>
</div>
{{ form_end(form) }}

{% endblock %}



