{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : liste marques{% endblock %}

{% block body %}
{{ parent() }}
<div class="formulaire">
    <h1>Marques</h1>
    <section>
        {% for marque in marques %}
            <div>{{ marque.nom|e }}</div>
            {# <div><a class="" href="{{ path ("modif_marque",{'id':marque.id}) }}">Modifier</a></div> #}
            <div><a class="" href="{{ path ("supprimer_marque",{'slug':marque.slug}) }}" onclick="return confirm('Supprimer ?')">Supprimer</a></div>
        {% endfor %}
    </section>
</div>
{% endblock %}

