{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : liste agences{% endblock %}

{% block body %}
{{ parent() }}
<h1>Agences</h1>
<section>
    {% for agence in agences %}
        <div>{{ agence.ville|e }}</div>
        {# <div><a class="" href="{{ path ("modif_agence",{'id':agence.id}) }}">Modifier</a></div> #}
        <div><a class="" href="{{ path ("supprimer_agence",{'id':agence.id}) }}" onclick="return confirm('Supprimer ?')">Supprimer</a></div>
    {% endfor %}
</section>
{% endblock %}

