{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : reservation{% endblock %}

{% block body %}
{{ parent() }}
<div class="formulaire">

    <h1>Réservez le véhicule {{ voiture.reference }}, qui est une magnifique {{ voiture.marque }} {{ voiture.modele }}</h1>

    {{ form_start(form) }}
        <fieldset class="uk-fieldset">
            <legend class="uk-legend">Réserver ce véhicule</legend>

            <div class="uk-input">

                <p>A quelles dates voudriez-vous louer le véhicule ?</p>
                {{ form_row(form.debut) }}
                {{ form_row(form.fin) }}

                <h4 class="">Montant de la location : <span id="montant">...</span> &euro;</h4>
                <span id="jours">0</span> jour(s) à {{voiture.tarif | number_format(2, ',', ' ')}} &euro; par jour.

                <button class="uk-button uk-button-primary">Enregistrement</button>
            </div>
            
        </fieldset>
    {{ form_end(form) }}

</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function(){
            $('#location_debut, #location_fin').datepicker({
                format: 'dd/mm/yyyy',
                datesDisabled: [
                    {% for day in voiture.notAvailableDays %}
                        "{{ day.format('d/m/Y') }}",
                    {% endfor %}
                ],
                debut: new Date()
            });

            $('#location_debut, #location_fin').on('change', calculerMontant);
        });

        function calculerMontant() {
 
            const fin = new Date(
                $('#location_fin')
                    .val()
                    .replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1')
            );
            
            const debut = new Date(
                $('#location_debut')
                    .val()
                    .replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1')
            );

            if(debut && fin && debut < fin){
                const DAY_TIME  = 24 * 60 * 60 * 1000;

                const interval  = fin.getTime() - debut.getTime();
                const days      = interval / DAY_TIME;
                const montant    = days * {{ voiture.tarif }};

                // console.log(montant.toLocaleString('fr-FR'));

                $('#jours').text(days);
                $('#montant').text(montant.toLocaleString('fr-FR'));
            }
        }
    
    </script>

{% endblock %}



