{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} : reservation{% endblock %}


{% block body %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-2 centrer">

    {{ form_start(form) }}

            <h4>Réservez le véhicule {{ voiture.reference }}, qui est une magnifique {{ voiture.marque }} {{ voiture.modele }}.</h4>
            <p>A quelles dates voudriez-vous louer le véhicule ?</p>
            <section id="dates-reservation">
                <div class="date-res-widget">
                    <div class="uk-margin">
                        {{ form_label(form.debut) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_widget(form.debut) }}
                    </div>
                </div>
                <div class="date-res-widget">
                    <div class="uk-margin">
                        {{ form_label(form.fin) }}
                    </div>
                    <div class="uk-margin">
                        {{ form_widget(form.fin) }}
                    </div>
                </div>
            </section>
            
            
            <h5>Montant de la location : <span id="montant">...</span> &euro;</h5>
            <span id="jours">0</span> jour(s) à {{voiture.tarif | number_format(2, ',', ' ')}} &euro; par jour.

            <button class="uk-button uk-button-default">Enregistrement</button>
            
    {{ form_end(form) }}

</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function(){
            $('#location_debut, #location_fin').datepicker({
                format: 'dd/mm/yyyy',
                datesDisabled: [
                    {% for day in voiture.notAvailableDays %}
                        "{{ day.format('d/m/Y') }}",
                    {% endfor %}
                ].sort(),
                debut: new Date()
            });
            console.log($('#location_debut, #location_fin'))
            
            $('#location_debut, #location_fin').on('change', calculerMontant);
        });

        function calculerMontant() {
 
            const fin = new Date(
                $('#location_fin')
                    .val()
                    .replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1')
            );
            
            const debut = new Date(
                $('#location_debut')
                    .val()
                    .replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1')
            );

            if(debut && fin && debut < fin){
                const DAY_TIME  = 24 * 60 * 60 * 1000;

                const interval  = fin.getTime() - debut.getTime();
                const days      = interval / DAY_TIME;
                const montant    = days * {{ voiture.tarif }};

                // console.log(montant.toLocaleString('fr-FR'));

                $('#jours').text(days);
                $('#montant').text(montant.toLocaleString('fr-FR'));
            }
        }
    
    </script>

{% endblock %}



