{% extends 'base.html.twig' %}

{% block title %}Réservation n° {{location.id}}{% endblock %}

{% block body %}
<div class="uk-card uk-card-default uk-card-body uk-width-1-2 centrer">

    {# {% set ad = location.voiture.ad %}
    {% set author = location.user %} #}

    <div class="container">
        <h4 class="">Votre réservation (n° de réservation : {{location.id}})</h4>

        {% if app.request.query.get('withAlert') %}     {# app.request représente la requête en cours #}
            <div class="">
                <h5>Votre réservation du véhicule {{ location.voiture.marque }} {{ location.voiture.modele }} a été prise en compte.</h5>
            </div>
        {% endif %}

        <div class="row">
            <div class="col">
                <div class="">
                    <h3>Détails</h3>
                    <dl class="row">
                        <dt class="col-md-4">Numéro</dt>
                        <dd class="col-md-8">{{location.id}}</dd>
                        <dt class="col-md-4">Premier jour de la location</dt>
                        <dd class="col-md-8">{{location.debut | date('d/m/Y')}}</dd>
                        <dt class="col-md-4">Dernier jour de la location</dt>
                        <dd class="col-md-8">{{location.fin | date('d/m/Y')}}</dd>
                        <dt class="col-md-4">Nombre de jours</dt>
                        <dd class="col-md-8">{{location.duration}}</dd>
                        <dt class="col-md-4">Montant total</dt>
                        <dd class="col-md-8">{{location.montant | number_format(2, ',', ' ')}} &euro;</dd>
                        {# <dt class="col-md-4">Commentaire</dt>
                        <dd class="col-md-8">{{location.commentaire | default('Aucun commentaire')}}</dd> #}
                    </dl>
                </div>

                <div class="" id="">
                    <h2 class="">Vous pouvez donner votre avis.</h2>
                    {% if date() > date(location.fin) %}
                        {% set commentaire = location.voiture.commentFromAuthor(app.user) %}
                        {% if commentaire is not null %}
                            <blockquote>
                                {{commentaire.contenu}}
                            </blockquote>

                            {# <strong>Note : </strong> {% include 'pages/notation.html.twig' with {'note': commentaire.note} %} #}
                            <strong>Note : </strong> <span class="uk-text-success">{{ commentaire.note }}</span>/5
                        {% else %}
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="uk-button uk-button-default">Confirmer</button>
                            {{ form_end(form) }}
                        {% endif %}

                    {% else %}
                        <p>Vous ne pourrez pas noter ce véhicule avant la fin de la location.</p>
                    {% endif %}
                </div>
            </div>
            {# <div class="col">
                <div class="">
                    <h2 class="">Votre véhicule</h2>

                    <h4>
                        <a href="{{ path('#', {'slug': voiture.slug}) }}">{{voiture.reference}}</a>
                    </h4>

                    {% for im in voiture.images %}
                    <img src="{{ im.url }}" alt="Image de {{voiture.reference}}" class="">
                    {% endfor %}

                    <a href="{{path('#', {'slug': voiture.slug})}}" class="">Plus d'informations</a>
                </div>
            </div> #}
        </div>
    </div>
    <div>
        <a href="{{path ("liste_voitures")}}">Retourner à la liste des véhicules</a>
    </div>
</div>
{% endblock %}


