{% extends 'base.html.twig' %}

{% block title %}Réservation n° {{location.id}}{% endblock %}

{% block body %}

    {# {% set ad = location.voiture.ad %}
    {% set author = location.user %} #}

    <div class="container">
        <h1 class="">Votre réservation (n° {{location.id}})</h1>

        {% if app.request.query.get('withAlert') %}
            <div class="">
                <h4>Votre réservation du véhicule {{ location.voiture.marque }} {{ location.voiture.modele }} a été prise en compte.</h4>
            </div>
        {% endif %}

        <div class="row">
            <div class="col">
                <div class="">
                    <h2>Détails</h2>
                    <dl class="row">
                        <dt class="col-md-4">Numéro</dt>
                        <dd class="col-md-8">{{location.id}}</dd>
                        <dt class="col-md-4">Premier jour de la location</dt>
                        <dd class="col-md-8">{{location.debut | date('d/m/Y')}}</dd>
                        <dt class="col-md-4">Dernier jour de la location</dt>
                        <dd class="col-md-8">{{location.fin | date('d/m/Y')}}</dd>
                        <dt class="col-md-4">Nombre de jours</dt>
                        <dd class="col-md-8">{{location.duration}}</dd>
                        <dt class="col-md-4">Montant total</dt>
                        <dd class="col-md-8">{{location.montant | number_format(2, ',', ' ')}} &euro;</dd>
                        {# <dt class="col-md-4">Commentaire</dt>
                        <dd class="col-md-8">{{location.commentaire | default('Aucun commentaire')}}</dd> #}
                    </dl>
                </div>

                {# <div class="" id="">
                    <h2 class="">Vous pouvez donner votre avis.</h2>
                    {% if date() > date(location.fin) %}
                        {% set commentaire = location.voiture.commentFromAuthor(app.user) %}
                        {% if commentaire is not null %}
                            <blockquote>
                                {{commentaire.contenu}}
                            </blockquote>

                            <strong>Note : </strong> {% include 'pages/notation.html.twig' with {'note': commentaire.note} %}
                        {% else %}
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-success">Confirmer !</button>
                            {{ form_end(form) }}
                        {% endif %}

                    {% else %}
                        <p>Vous ne pourrez pas noter cette annonce tant que votre voyage ne sera pas complet !</p>
                    {% endif %}
                </div> #}
            </div>
            {# <div class="col">
                <div class="alert alert-light">
                    <h2 class="alert-heading">Votre hébergement</h2>

                    <h4>
                        <a href="{{ path('ads_show', {'slug': ad.slug}) }}">{{ad.title}}</a>
                    </h4>

                    <img src="{{ad.coverImage}}" alt="Image de {{ad.title}}" class="img-fluid">

                    {{ad.content | raw}}

                    <a href="{{path('ads_show', {'slug': ad.slug})}}" class="btn btn-primary">Plus d'informations</a>
                </div>
            </div> #}
        </div>
    </div>
    <div>
        <a href="{{path ("liste_voitures")}}">Retourner à la liste des véhicules</a>
    </div>

{% endblock %}


