<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Locauto{% endblock %}</title>
        
        {% block stylesheets %}
        <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
        {# Google fonts #}
<link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet"> 
        {# Mon CSS #}
<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% endblock %}
    </head>
    <body>

        {% block navigation %}
        <header uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
            <nav class="uk-navbar-container" uk-navbar style="position: relative; z-index: 980;">
                <div class="uk-navbar-left">
                    <div id="bloctitre">
                        <div class="titre uk-animation-fade uk-panel">
                            <h1 id="nomdusite">Locauto</h1>
                        </div>
                    </div>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="{{path ("accueil")}}">
                                <span class="uk-icon uk-margin-small-right" uk-icon="icon: home"></span>
                            </a>
                        </li>
                        {% if app.user %}
                        <li class="uk-active"><a href="{{path ("logout")}}">Deconnexion</a></li>
                            {% if is_granted ("ROLE_PARTICULIER") %}
                            <li class="uk-parent">
                                <a>Mon compte</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="{{path ("modif_part")}}">Modifier mon profil</a></li>
                                        <li><a href="{{path ("locations_part")}}">Mes locations</a></li>
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                            {% if is_granted ("ROLE_PROFESSIONNEL") and is_granted ('ROLE_ADMIN') == false %}
                            <li class="uk-parent">
                                <a>Voir compte</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="{{path ("modif_pro")}}">Modifier le profil</a></li>
                                        <li><a href="{{path ("locations_pro")}}">Locations</a></li>
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                        {% else %}
                        <li class="uk-parent">
                            <a>Inscription</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="{{path ("register_part")}}">Inscription particulier</a></li>
                                    <li><a href="{{path ("register_pro")}}">Inscription professionnel</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="{{path ("login")}}">Connexion</a></li>
                        {% endif %}
                        <li class="uk-parent">
                            <a>Nos véhicules</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="{{path ("liste_voitures")}}">Tous les véhicules</a></li>
                                    {# <li><a href="{{path ("voitures_marque")}}">Par marque</a></li> #}
                                </ul>
                            </div>
                        </li>
                        
                        {% if is_granted ("ROLE_ADMIN") %}
                        <li class="uk-parent">
                            <a>admin</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="{{path ("liste_agences")}}">Liste des agences</a></li>
                                    <li><a href="{{path ("enregistrer_agence")}}">Ajouter une agence</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="{{path ("liste_marques")}}">Liste des marques</a></li>
                                    <li><a href="{{path ("enregistrer_marque")}}">Ajouter une marque</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="{{path ("liste_categories")}}">Liste des catégories</a></li>
                                    <li><a href="{{path ("enregistrer_categorie")}}">Ajouter une catégorie</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="{{path ("liste_images")}}">Images disponibles</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="{{path ("enregistrer_voiture")}}">Enregistrer une voiture</a></li>
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        {% endblock %}

        {% for message in app.flashes('warning') %}
            <div class="flash-warning">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}
        {% endblock %}

        {% block javascripts %}
            <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous">
            </script>
                <!-- UIkit JS -->
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
                {# Mon JS #}
            {# <script src="js/monjs.js"></script> #}
        {% endblock %}
        
    </body>
</html>




