<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
{# <link rel="stylesheet" href="css/style.css" /> #}
        <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/css/uikit.min.css" />
        <!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.2.2/dist/js/uikit-icons.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <section class="section1">

        {% block navigation %}
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    {% if app.user %}
                    <li class="uk-parent"><a href="{{path ("register")}}">Inscription</a></li>
                    <li class="uk-active"><a href="{{path ("logout")}}">Deconnexion</a></li>
                    {% else %}
                    <li class="uk-active"><a href="{{path ("register")}}">Inscription</a></li>
                    <li class="uk-parent"><a href="{{path ("login")}}">Connexion</a></li>
                    {% endif %}
                    {% if is_granted ("ROLE_ADMIN") %}
                    <li><a href="{{path ("enregistrer_agence")}}">Ajouter une agence</a></li>
                    <li><a href="{{path ("enregistrer_voiture")}}">Enregistrer une voiture</a></li>
                    <li><a href="{{path ("enregistrer_marque")}}">Enregistrer une marque</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% endblock %}

        {% block body %}{% endblock %}

        </section>
        {% block javascripts %}{% endblock %}
    </body>
</html>
